{% extends "project/base.html" %}
{% block content %}
    <h1>About Projects Page</h1>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">About Projects 1: The Famous Peoples project</h5>
                <div class="alert alert-primary" role="alert">
                    <ul>
                        <li>This is web scraping project using selenium and beautifulsoup</li>
                        <li>All data store in MongoDB Atlas.</li>
                        <li>All data credits to thefamouspeople.com <a href="www.thefamouspeople.com" target="_blank">link</a></li>
                        <li>Create APIs using FastAPI and deployed it on Heroku</li>
                        <li>Create DJango App And it also deployed on Heroku</li>
                    </ul>
                    <h5>Task 1</h5>
                    <ul>
                        <li>Fast API fetch Data from MongoDB Atlas and show in cards. </li>
                        <li>This page shows Country Names and People count</li>
                        <li>Country fast API <a href="http://anafastapi.herokuapp.com/country/" target="_blank">link</a></li>
                    </ul>
                    <h5>Task 2</h5>
                    <ul>
                        <li>Find out Famous Peoples for country India only 10 people only.</li>
                        <li>Fast API fetch Data from MongoDB Atlas and show in cards</li>
                        <li>Famous Peoples information like More Info Listed In, Famous As, Birthdate,Sun Sign, Birthplace, Died and extra information.</li>
                    </ul>
                    <h5>Task 3</h5>
                    <ul>
                        <li>Find out Famous Peoples of Specific country</li>
                        <li>Create DJango form for country names and famous People counts.</li>
                        <li>Based on above parameter fetch data for specific country</li>
                        <li>Country Name in drop-down got from MongoDB database only.</li>
                    </ul>
                    <h5>Task 4</h5>
                    <ul>
                        <li>Country Name and Famous people Count</li>
                        <li>Find out how many famous peoples in countries from MongoDB.</li>
                        <li>FastAPI fetch data from DB and it shows in card only.</li>
                    </ul>
                </div>

            <h5 class="card-title">About Projects 2: The Dictionary Web App</h5>
                <div class="alert alert-info" role="alert">
                    <ul>
                        <li>This is web scraping project beautifulsoup</li>
                        <li>Create APIs using FastAPI and deployed it on Heroku</li>
                        <li>Create DJango App And it also deployed on Heroku</li>
                    </ul>
                    <h5>Task 1</h5>
                    <ul>
                        <li>English-English Dictionary</li>
                        <li>Create DJango form for Enter English word for find out English Meanings.</li>
                        <li>Based on given word in form find out Meanings, Synonyms and Example Sentences.</li>
                        <li>All data credits to yourdictionary.com <a href="https://www.yourdictionary.com/" target="_blank">link</a></li>
                        <li>Create APIs using FastAPI and deployed it on Heroku</li>
                    </ul>
                    <h5>Task 2</h5>
                    <ul>
                        <li>English-Marathi Dictionary</li>
                        <li>Create DJango form for Enter English word for find out Marathi Meanings and Examples.</li>
                        <li>Based on given word in form find out Meanings, and Example Sentences with both languages</li>
                        <li>All data credits to glosbe.com <a href="https://en.glosbe.com/en/mr/" target="_blank">link</a></li>
                        <li>Create APIs using FastAPI and deployed it on Heroku</li>
                    </ul>
                </div>

            <h5 class="card-title">About Projects 3: The Fast API app</h5>
                <div class="alert alert-primary" role="alert">
                    <ul>
                        <li>Create APIs using FastAPI and deployed it on Heroku</li>
                        <li>Create DJango App And it also deployed on Heroku</li>
                    </ul>
                    <h5>Task 1</h5>
                    <ul>
                        <li>Fast API anafastapi.herokuapp.com <a href="http://anafastapi.herokuapp.com/" target="_blank">link</a></li>
                        <li>This Application for multiple usecases.</li>
                        <li>This API uses for Country, People for Famous Peoples project and Dictionary Web Project</li>
                    </ul>
                    <h5>Task 2</h5>
                    <ul>
                        <li>Fast API ana-ocrfastapi.herokuapp.com <a href="http://ana-ocrfastapi.herokuapp.com/" target="_blank">link</a></li>
                        <li>Using Google Drive OCR service create an app for OCR.</li>
                        <li>Fast API gives Post image file url as well as GUI for image file upload</li>
                        <li>Github <a href="https://github.com/anajikadam/OCR-FastAPI" target="_blank">url</a></li>
                    </ul>
                </div>

            <h5 class="card-title">About Projects 4: The Flask Application</h5>
                <div class="alert alert-info" role="alert">
                    <ul>
                        <li>Create Flask Application and deployed it on Heroku</li>
                    </ul>
                    <h5>Task 1</h5>
                    <ul>
                        <li>Covid Web API using Flask and deployed on Heroku <a href="https://covid-webapi.herokuapp.com/" target="_blank">link</a> </li>
                        <li>Github <a href="https://github.com/anajikadam/Web_API" target="_blank">url</a></li>
                    </ul>
                    <h5>Task 2</h5>
                    <ul>
                        <li>Multiple ML projects with Flask and deployed on Heroku <a href="https://anaji-projects.herokuapp.com/" target="_blank">link</a> </li>
                        <li>Github <a href="https://github.com/anajikadam/Flask_Projects" target="_blank">url</a></li>
                    </ul>
                </div>
        </div>
    </div>
{% endblock content %}
