{% extends "project/base.html" %}
{% block content %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">English-English Dictionary</h5>
        <form method="post" id="country-form">
            {% csrf_token %}
            <div class="form-group">
<!--            <label for="exampleFormControlInput1">Enter English word</label>-->
                <input type="text" class="form-control" id="word1" name="word1" placeholder="Enter any English word">
            </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        <script type="text/javascript">
        $(document).on('submit','#country-form',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url 'project-english' %}',
                data:
                {
                    word1:$("#word1").val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
                },
                success:function(){
                      //alert('Saved');
                        }
                })
            });
        </script>
      </div>
    </div>

    {% if Data %}
        <div class="card">
            <div class="card-body">
            <h1 class="card-title">Your Word : {{Data}}</h1>
                <div class="alert alert-primary" role="alert">
                    <h2>Meanings</h2>
                    {% for d2 in Meanings %}
                        <p>{{forloop.counter}} {{d2}}</p>
                    {% endfor %}
                </div>
                <div class="alert alert-secondary" role="alert">
                    <h2>Synonyms</h2>
                    {% for d1 in Synonyms %}
                        <p>{{forloop.counter}} {{d1}}</p>
                    {% endfor %}
                </div>
                <div class="alert alert-info" role="alert">
                    <h2>Example Sentences</h2>
                    {% for d3 in ExampleSentences %}
                        <p>{{forloop.counter}} {{d3}}</p>
                    {% endfor %}
                </div>
        </div>
        </div>
    {% endif %}

{% endblock content %}
