{% extends "project/base.html" %}
{% block content %}
    <h1>Projects 3</h1>
     <div class="row">
        <div class="col-md-6">
        <div class="card" style="margin-bottom: 10px;">
          {% load static %}
          <img src="{% static 'Image/ai1.jpg'%}" class="card-img-top" alt="Imag1">
          <div class="card-body">
            <h5 class="card-title">Task 1</h5>
            <p class="card-text"> This API uses for Country, People for Famous Peoples project and Dictionary Web Project</p>
            <a href="http://anafastapi.herokuapp.com/" target="_blank" class="btn btn-primary">Go=></a>
          </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="card" style="margin-bottom: 10px;">
          <img src="{% static 'Image/ai2.jpg'%}" class="card-img-top" alt="Image2">
          <div class="card-body">
            <h5 class="card-title">Task 2</h5>
            <p class="card-text">Using Google Drive OCR service create an app for OCR</p>
            <a href="http://ana-ocrfastapi.herokuapp.com/" target="_blank" class="btn btn-primary">Go=></a>
          </div>
        </div>
        </div>
    </div>
{% endblock content %}
