{% extends "project/base.html" %}
{% block content %}
    <h1>Projects 2</h1>
    <div class="row">
        <div class="col-md-6">
        <div class="card" style="margin-bottom: 10px;">
          {% load static %}
          <img src="{% static 'Image/dict.jpg'%}" class="card-img-top" alt="Image1">
          <div class="card-body">
            <h5 class="card-title">Task 1</h5>
            <p class="card-text"> English Dictionary</p>
            <a href="{% url 'project-english' %}" target="_blank" class="btn btn-primary">Go=></a>
          </div>
        </div>
        </div>
        <div class="col-md-6">
        <div class="card" style="margin-bottom: 10px;">
          <img src="{% static 'Image/engtomar.jpg'%}" class="card-img-top" alt="Image2">
          <div class="card-body">
            <h5 class="card-title">Task 2</h5>
            <p class="card-text">English to Marathi</p>
            <a href="{% url 'project-engtomar' %}" target="_blank" class="btn btn-primary">Go=></a>
          </div>
        </div>
        </div>
    </div>

{% endblock content %}
